@{
    ViewData["Title"] = "Home Page";
}

<body class="center">
    <header class="center">
        <h1 class="text-center" style="text-center; font-size:500%; color:peru">Welcome To The Library</h1>
    </header>
    <p class="text-center" style="font-size:300%; color:aliceblue">If you want to rent a book, please Log in. If you don't have an account, you can make a new account.</p>
    <div class="text-center" >
       <!-- <img class="center" src="https://cdn.pixabay.com/photo/2015/12/18/20/04/books-1099067_960_720.jpg" style="width:60%" /> -->
        <img class="center" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F73%2F37%2FXREwJy.jpg&f=1&nofb=1&ipt=fcf8383622915759aa4851478f9a09ff0159e365369ee33eba70a542635239c7&ipo=images" style="width:50%" /> 
    </div>
</body>

